/* Enter your custom styles here */
section#application-testprojectui5b27-display-component---View1--page-cont{
        background-image: url("https://images3.alphacoders.com/111/1111253.jpg");
        background-size: 100% 100%;
				background-position: center;
    			background-repeat: repeat;
                background: none;
}